
<h3 class="text-center">ตารางเรียนระดับชั้น: </h3>
<table class="table table-bordered border-primary text-center">
    <thead>
        <tr>
            <th scope="col">วัน/เวลา</th>
            <th scope="col">First</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">วันจันทร์</th>
            <td>Mark</td>
        </tr>
        <tr>
            <th scope="row">วันอังคาร</th>
            <td>Jacob</td>
        </tr>
        <tr>
            <th scope="row">วันพุธ</th>
            <td colspan="2">Larry the Bird</td>
        </tr>
        <tr>
            <th scope="row">วันพฤหัสบดี</th>
            <td colspan="2">Larry the Bird</td>
        </tr>
        <tr>
            <th scope="row">วันศุกร์</th>
            <td colspan="2">Larry the Bird</td>
        </tr>
    </tbody>
</table>
